NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
DATABASE_URL=
DIRECT_URL=


PASSWORD="i9oYGwUrPEEkqVE5"


NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_5Rp25UEjfu9TaDFdXf93LQ_qCU-ldDV
NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://lneqmjjyoqqzebtqogyu.supabase.co ( didelete, karena sudah pake yang habitia.ai.studio)

DIRECT_URL=postgresql://postgres:i9oYGwUrPEEkqVE5@db.lneqmjjyoqqzebtqogyu.supabase.co:5432/postgres
# DATABASE_URL=postgresql://postgres.lneqmjjyoqqzebtqogyu:i9oYGwUrPEEkqVE5@db@aws-1-ap-south-1.pooler.supabase.com:6543/postgres

# DATABASE_URL=postgresql://postgres:i9oYGwUrPEEkqVE5@db.lneqmjjyoqqzebtqogyu.supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres.lneqmjjyoqqzebtqogyu:i9oYGwUrPEEkqVE5@aws-1-ap-south-1.pooler.supabase.com:5432/postgres


